body{
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background: url(/images/boh.jpg);  
}

#contents{
  margin: 0 auto;
  width: 950px;
  background-color: #ff0087;
  padding: 20px;
  border: 10px solid #00bb48;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#header{
  position: relative;
}

#baddy{
/*  position: absolute;
  right: 1px;
  top: -10px;*/
  text-align:center;
  background-color: #ff0087;
  padding: 20px;
  height: 200px;
  width: 300px;
  float:right;
}

#baddy h1 a{
  color: #ffd500;
}

#map{
  width: 600px;
  height: 300px;
}

h1{
  color: #ffd500;
  font-size: 1.2em;
}

h2{
  color: #00bb48;
}

h3 a{
  color: #f00;
}

#score{
  float:right;
}

#score input{
  margin-left: 10px;
}

form div, form{
  display:inline-block;
}

input{
  font-size: 20px;
}

#countdown{
  position:absolute;
  padding: 20px;
  left: 130px;
  top: 5px;
  text-align: center;
  font-size: 48px;
  color: #f00;
}