body{
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background: url(/images/boh.jpg);  
}

#contents{
  margin: 0 auto;
  width: 950px;
  background-color: #ff0087;
  padding: 20px;
  border: 10px solid #00bb48;
}

#contents

#map{
  width: 100%;
  height: 300px;
}

h1{
  color: #ffd500;
  size: 1.2em;
}

h3 a{
  color: #f00;
}

#score{
  float:right;
}
