- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      var latlng = new google.maps.LatLng(-34.397, 150.644);
      var myOptions = {
        zoom: 8,
        center: latlng
      };
      var map = new google.maps.Map(document.getElementById("map"), myOptions);
    });

%h1 Spot The Baddie!

Pick the location which had the crime occur.

#map