- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      var latlng = new google.maps.LatLng(39.2957589, -76.661596);
      var myOptions = {
        zoom: 9,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"), myOptions);
      
      var marker = new google.maps.Marker({map:map,position:new google.maps.LatLng(39, -76)});
      
      var infowindow = new google.maps.InfoWindow({
          content: "#{ escape_javascript(render(:partial => 'baddie'))}"
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
      });
    });

#header
  = image_tag "header.png"
  
%h1 
  Pick the location in which the crime occurred.
  %span{:id => "score"} 0 Points
#map