- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      var latlng = new google.maps.LatLng(39.2957589, -76.661596);
      var myOptions = {
        zoom: 10,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"), myOptions);
      #{render :partial => "load_baddies"}
    });

#header
  = image_tag "header.png"
  
%h1 
  One of these locations was recently a crime scene.  Guess which one!
  - if session[:score].to_i == 0
    %span{:id => "score"} No Score Yet
  - else
    %span{:id => "score"}= "#{session[:score]} Million Points"
#map

%div{:align => :center}
  %h2
    %blink Real Crimes, Real Baddies, Real Fun.