- content_for :header_bottom do
  :javascript
    $(document).ready(function(){
      var latlng = new google.maps.LatLng(39.2957589, -76.661596);
      var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"), myOptions);
    });

%h1 Spot The Baddie!

%p Pick the location which had the crime occur.

#map